.SkillDiv{
    background-color: gray;
}
.Greetings{
    background-image: url('../../static/pexels-ian-turnell-709552.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100svw;
    height: calc(100dvh - 100px);
    left: -25px;
    position: relative;
    .overlay{
        background: rgba( #000000, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p.iam{
            max-width: 530px;
            min-height: 170px;
            color: white;
            font-size: 64px;
            margin-bottom: 15px;
        }
        .contactme{
            color: white;
            font-size: 24;
            font-weight: bold;
        }
        p{
            margin: 0 25px;
            color: white;
        }
    }
}