.DrawerOverlay.open{
    visibility: visible;
}
.Drawer.open{
    left: 0px;
    transition: left 0.3s ease-in-out;
}
.DrawerOverlay{
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    background-color: #00000044;
    z-index: 3;
    visibility: hidden;
    
    .Drawer{
        transition: left 0.3s ease-in-out;
        height: calc(100dvh - 65px);
        max-width: 350px;
        margin: 20px;
        margin-bottom: 100px;
        padding: 10px;
        left: -400px;
        z-index: 4;
        background: rgba(255,255,255,0.5);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.25);
        border-radius: 16px;
        .Content{
            display: flex;
            flex-direction: column;
            height: auto;
            .HeaderLink{
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 32px;
                display: flex;
                align-items: center;
                margin: 2.5px 0;
                svg{
                    margin-right: 15px;
                }
            }
        }
        .CloseButton{
            background-color: transparent;
            outline: none;
            border: none;
            padding: 0;
            width: 50px;
            height: 50px;
            svg{
                width: 50px;
                height: 50px;
            }
        }
    }
}